<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
<script>
fetch("https://lastfm-worker.silaszehnder.workers.dev/")
  .then(r => r.json())
  .then(tracks => {
    const root = document.getElementById("tracks");

    tracks.forEach(t => {
      const div = document.createElement("div");
      div.className = "track";

      if (t.now_playing) div.classList.add("now");

      div.innerHTML = `
        <div class="art">
          <img class="cover" src="${t.image}" alt="">
          ${t.now_playing ? `<img class="disc" src="${t.image}" alt="">` : ""}
        </div>
        <div class="meta">
          <strong>${t.title}</strong>
          <i>${t.album}</i>
          <span>${t.artist}</span>
          ${t.now_playing
            ? '<span class="live">Now Playing</span>'
            : `<time>${new Date(t.played_at).toLocaleString()}</time>`
          }
        </div>
      `;
      root.appendChild(div);
    });
  });
</script>
  <body>
    {%- include header.html -%}
    <main>
      <div>
        {{ content }}
      </div>
      <section id="tracks"></section>
    </main>
    {%- include footer.html -%}
  </body>
</html>
